@use '~rhenus-material/colors' as colors;
@use '~rhenus-material/breakpoints' as breakpoints;
mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 64px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;

  @media (max-width: breakpoints.$max-mobile-width) {
    padding: 0 16px;
    box-sizing: border-box;
  }

  .nav-content {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  

    @media (max-width: breakpoints.$max-tablet-width) {
      width: 87.5%;
    }

    @media (max-width: breakpoints.$max-mobile-width) {
      width: 100%;
    }
  }
}

a {
  font-family: sans-serif;
}